body {
	text-align: center;
	padding: 0;
	margin: 0;
}

#guestname {
}

#guestpic {
	height: 60%;
	max-height: 60%;
	max-width: 100%;
}

#guestnum {
}

#guestside {
}

.bride {
	width: 100%;
	background-color: pink;
}

.groom {
	width: 100%;
	background-color: #7ec0ee;
}