body {
	text-align: center;
	padding: 0;
	margin: 0;
}
#invite {
	height: 90%;
}
@media all and (orientation:portrait) {
	#invite {
		margin-bottom: 10%;
	}
}
@media all and (orientation:portrait) {
	#guestpic {
		height: 40%;
		max-height: 60%;
		max-width: 100%;
	}
}
@media all and (orientation:landscape) {
	#guestpic {
		max-height: 80%;
		margin: none;
		padding: none;
		float: right;
	}
}
#guestname, #guestnum, #guestside {
	width: 100%;
}
.bride {
	background-color: pink;
}
.groom {
	background-color: #7ec0ee;
}
#restriction {
	color: red;
}
#food-restrictions, #explanation {
	width: 90%;
	margin: 0 auto;	
	padding: 5px;
}
#food-restritions p, #explanation p {
	text-align: justify;
}
#food-restrictions ul {
	text-align: left;
	font-size: x-large;
}
#food-restrictions.bride, #explanation.bride {
	background-color: #FFDFE5;
}
#food-restrictions.groom, #explanation.groom {
	background-color: #BEDFF6;
}
#backlink {
	margin: 1% auto;
	display: block;
}